@import "vars"

.bg
  height: 100vh
  background: url("/static/mikolaj-DCzpr09cTXY-unsplash.jpg")
  background-size: cover
  background-position-x: center
  background-position-y: bottom

.form
  padding: 0.5em 2em
  background: $bg
  box-shadow: $box-shadow

.validation
  color: red
  font-size: 0.75em
  margin-block: 1em
