<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sapiprudentia</title>
    <script src="/static/bundle.js" defer></script>
</head>
<body>
    <div id="app"></div>
</body>
</html>