<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sapiprudentia</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/main.js" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="user">
            lorem ipsum dolor sit amet
            <!-- TODO Current user -->
        </div>
        <nav>
            <ul class="nav-list">
                {% for document in global.documents %}
                    <li><a href="/document/{{ document.id }}" data-title-of="{{ document.id }}">{{ document.title }}</a></li>
                {% endfor %}
                <li><a href="/document/new">New</a></li>
            </ul>
            <ul class="nav-list border-top">
                <li><a href="#">lorem</a></li>
                <li><a href="#">ipsum</a></li>
                <li><a href="#">dolor</a></li>
                <li><a href="#">sit</a></li>
                <li><a href="#">amet</a></li>
            </ul>
            <ul class="nav-list border-top">
                <li><a href="#">lorem</a></li>
                <li><a href="#">ipsum</a></li>
                <li><a href="#">dolor</a></li>
                <li><a href="#">sit</a></li>
                <li><a href="#">amet</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <header>
            <!-- TODO Breadcrumbs -->
            Lorem ipsum dolor sit amet.
        </header>
        <div class="scroll-container">
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>
</html>
